*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body { 
padding-top: 0px; 
background-color: #a5a9b8; 

}

header{
height: auto;
}

header a{
text-decoration: none;
color: brown;
}

html {
	scroll-behavior: smooth;
}

.content-wrapper {
	background-color: #F2F0EF;
	width: 80%;
	min-height: calc(100vh - 120px);
	padding: 60px;
	box-shadow:0 0 10px rgba(25, 31, 52, 0.6);
	margin: 0 auto;
	box-sizing: border-box;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #111;
  box-shadow:0 0 10px rgba(25, 31, 52, 0.6);
  margin: 0 auto;
  padding: 0px;
  color: white;
  box-sizing: border-box;
  height: 120px;
}
.navbar a:hover {
  background: white;
  color: black;
}
.nav-list {
	list-style: none;
	padding: 0;
	margin:  0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.nav-list li {
	margin: 0 10px;
}
.nav-list a {
	text-decoration: none;
	color: gray;
	display: block;
	padding: 10px 20px;
	font-size: 30px;
	font-family: Helvetica;
	height: 100%;
}

h1 {
	margin-bottom: 35px;
	font-family:"Times New Roman", Times, serif;
}
ul {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}
p {
	font-size: 16px;
	margin-bottom: 25px;
	font-family: "Times New Roman", Times, serif;
}