body{
    margin: auto;
    padding: 18px;
    max-width: 600px;
    text-align: left;
    position: relative;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
nav a{
    margin: 0px 6px;
}
ul li{
    font-size: 16px;
}